<!DOCTYPE html>
<html>
    <head>
        <!-- Import SocketIO for signalling -->
        <!-- <script src="/socket.io/socket.io.js"></script> -->
        <!-- Import JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <!-- Import WebRTC adapter for compatibility with all the browsers  -->
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        
        <!-- Import TURN config -->
        <script src="js/config.js" defer></script>

        <!-- Import script containing WebRTC related functions -->
        <script src="js/group.js" defer></script>

        <!-- Import style sheet -->
        <link rel="stylesheet" href="css/group.css">
    </head>
    <body>
        <div id="remoteVideosContainer" class="remote-videos-container">

        </div>
        <video id="localVideo" class="local-video" autoplay muted playsinline></video>
        <img id="localImage" class="local-image" src="images/user.png" hidden></image>

        <h2 id="roomID" hidden>{{.RoomID}}</h2>
        <h2 id="accountID" hidden>{{.AccountID}}</h2>
        <h2 id="audioEnabled" hidden>{{.AudioEnabled}}</h2>
        <h2 id="videoEnabled" hidden>{{.VideoEnabled}}</h2>
        <h2 id="platform" hidden>{{.Platform}}</h2>
    </body>
</html> 