<!DOCTYPE html>
<html>
    <head>
        <!-- Import SocketIO for signalling -->
        <!-- <script src="/socket.io/socket.io.js"></script> -->
        <!-- Import JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <!-- Import WebRTC adapter for compatibility with all the browsers  -->
        <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
        
        <!-- Import TURN config -->
        <script src="js/config.js"></script>

        <!-- Import script containing WebRTC related functions -->
        <script src="js/main.js" defer></script>

        <!-- Import style sheet -->
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <!-- <div id ="video_container" style="margin-top: 6%;">
            <div class="local_div" id="div1">
                <video id="localVideo" class="" autoplay muted playsinline></video>
                <image id="localImage" class="" hidden></image>
            </div>
            <div class="remote_div" id="div2">
                <video id="remoteVideo" class="" autoplay playsinline></video>
                <image id="remoteImage" class="" hidden></image>
            </div>
        </div>
        <div> -->
        <video id="remoteVideo" class="remote-video" autoplay playsinline></video>
        <img id="remoteImage" class="remote-image" src="images/user.png" hidden></image>
        <video id="localVideo" class="local-video" autoplay muted playsinline></video>
        <img id="localImage" class="local-image" src="images/user.png" hidden></image>

        <label id="labelFrameRate" class="label-framerate"></label>
        <label id="labelLocalFrameRate" class="label-local-framerate"></label>

        <!-- Buttons ui -->
        <div class="buttonsDiv">
            <!-- <img class="muteButton" src="images/microphone.png"></img> -->
            <!-- <div class="leaveContainer">
                <img class="leaveImage" src="images/hangup.png"></img> 
                <label class="leaveLabel">Leave</button>
            </div> -->
            <!-- <button class="cameraButton">Camera</button> -->
        </div>

        <h2 id="roomID" hidden>{{.RoomID}}</h2>
        <h2 id="audioEnabled" hidden>{{.AudioEnabled}}</h2>
        <h2 id="videoEnabled" hidden>{{.VideoEnabled}}</h2>
        <h2 id="platform" hidden>{{.Platform}}</h2>
    </body>
</html>